<!-- Detalhe do erro.-->
<p>Não foi possível concluir essa operação em decorrencia dos seguintes erros:</p>
<p>
  <b>Dados Técnicos:</b> {{descricao}}</p>
<div class="ui-messages ui-messages-detalher-erro ui-widget ui-corner-all ui-messages-warn ng-star-inserted" style="display: block;" ng-reflect-ng-class="[object Object]">
  <ul>
    <li class="ng-star-inserted">
      <p class="ui-messages-summary ng-star-inserted">Descrição do erro:</p>
      <p class="ui-messages-detail ng-star-inserted"> {{log}} </p>
    </li>
  </ul>
</div>