 

<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Atenção</h4>
      <p class="card-category">Desculpe o serviço está indisponível!</p>
    </div>
    <div class="card-body">
      <div id="typography">       
        <div class="row">           
          <div class="tim-typo">         
            <blockquote class="blockquote">
              <p>
                  A página que você está tentando acessar está temporariamente indisponivel. Por favor tente novamente.
              </p>
              <small>
                Esperamos que isso seja resolvido em breve, caso necessite de mais informações contate o suporte.
              </small>                
            </blockquote>
          </div>         
        </div>
        <div class="row">
          <div class="col-lg-12">
              <button type="button" (click)="btnVoltar()" class="btn btn-primary btn pull-left" style="margin-bottom: 25px;">Voltar</button>
          </div>
      </div>
      </div>
    </div>
  </div>


